# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Secrets
.env
